DOMAIN=SCRIPT_TO_CHANGE_ME.42.fr

DB_HOST=mariadb
DB_PASSWORD=

WP_DB_NAME=wordpress_db
WP_DB_USER=wpuser
WP_DB_PASSWORD=

WP_PATH=/var/www/html/wordpress
WP_TITLE=Inception

WP_ADMIN=a-SCRIPT_TO_CHANGE_ME
WP_ADMIN_PASSWORD=
EMAIL3=a@a.com

WP_USER=SCRIPT_TO_CHANGE_ME
WP_USER_PASSWORD=
EMAIL1=j@j.com
